<section class="team-area section-gap mt-5 pt-5" id="trainer">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Clients</h1>
                    <p>We offer our customers the best services.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <!-- Boucli Hna  *ngFor="let coach of coaches" -->
            <div class="col-md-4 single-team">
                <div class="thumb">

                    <img class="img-fluid" src="assets/img/u1.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Ethel Davis</h4>
                    <p>Managing Director (Sales)</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="assets/img/u2.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Rodney Cooper</h4>
                    <p>Creative Art Director (Project)</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u3.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dorian Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u4.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u5.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">David birchgo</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u6.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u7.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u8.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u9.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u10.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u11.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u12.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u13.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u14.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u15.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/u16.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>

        
        </div>
    </div>
</section>