<!-- start form login-->
<section class="">
  <!-- Material form login -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xd-12">
        <!-- ********************************* -->

        <!--Modal: Login / Register Form-->

        <div class="pb-5 mx-auto" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog cascading-modal" role="document">
            <!--Content-->
            <div class="modal-content">
              <!--Modal cascading tabs-->
              <div class="modal-c-tabs">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-2" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active text-light" data-toggle="tab" href="#panel7" role="tab">
                      Spécialiste</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" data-toggle="tab" href="#panel8" role="tab">
                      Client</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" data-toggle="tab" href="#panel9" role="tab">
                      Coach</a>
                  </li>
                </ul>
                <!-- Tab panels -->
                <div class="tab-content">
                  <!-- start Specialiste -->
                  <!--Panel 7-->
                  <div class="tab-pane fade" id="panel7" role="tabpanel">

                    <!--Body-->
                    <div class="modal-body">
                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                      </div>

                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                      </div>


                      <div class="text-center form-sm mt-2">
                        <button class="btn btn-info">Log in </button>
                      </div>

                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                      <div class="options text-right">
                        <p class="pt-1">Already have an account? <a href="#" class="blue-text">Sign up</a></p>
                      </div>
              
                    </div>
                  </div>
                  <!--Panel 8-->
                  <div class="tab-pane fade" id="panel8" role="tabpanel">

                    <!--Body-->
                    <div class="modal-body">
                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                      </div>

                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                      </div>


                      <div class="text-center form-sm mt-2">
                        <button class="btn btn-info">Log in </button>
                      </div>

                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                      <div class="options text-right">
                        <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log in</a></p>
                      </div>
              
                    </div>
                  </div>
                
                  <div class="tab-pane fade" id="panel9" role="tabpanel">

                    <!--Body-->
                    <div class="modal-body">
                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-envelope prefix"></i>
                        <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
                      </div>

                      <div class="md-form form-sm mb-5">
                        <i class="fas fa-lock prefix"></i>
                        <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                        <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
                      </div>

            
                      <div class="text-center form-sm mt-2">
                        <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                      </div>

                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                      <div class="options text-right">
                        <p class="pt-1">Already have an account? <a href="#" class="blue-text">Join us</a></p>
                      </div>
                
                    </div>
                  </div>
                  <!--/.Panel 8-->
                  <!-- end coach -->
                </div>

              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!--Modal: Login / Register Form-->

      </div>

      <!-- Material form login -->


    </div>
  </div>
</section>


<!-- start section-table -->




<!-- end section-table -->