<!-- start header -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between" style="height: 754px;">
            
            <div class="banner-content col-lg-6 col-md-6 col-xd-12">
                <h1 class="text-uppercase">
                    <span>Perfect Body</span> <br> “ Push yourself because no one else is going to do it for you.”
                </h1>

            </div>
        </div>
    </div>
</section>
<!-- end header -->