<section class="team-area section-gap mt-5 pt-5" id="trainer">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Our Coach</h1>
                    <p>We offer our customers professional coaches.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <!-- Boucli Hna  *ngFor="let coach of coaches" -->
            <div class="col-md-4 single-team">
                <div class="thumb">

                    <img class="img-fluid" src="assets/img/co1.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Ethel Davis</h4>
                    <p>Managing Director (Sales)</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="assets/img/co2.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Rodney Cooper</h4>
                    <p>Creative Art Director (Project)</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/co3.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/co4.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/co5.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/co6.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/co7.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/co8.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
            <div class="col-md-4 single-team">
                <div class="thumb">
                    <img class="img-fluid justify-content-center" src="assets/img/co.jpg" alt="">
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4 class="text-center">Dora Walker</h4>
                    <p>Senior Core Developer</p>
                </div>
            </div>
        </div>
    </div>
</section>