
<!--Modal: Login / Register Form--> 
<section class="">
<div class="py-5" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Modal cascading tabs-->
      <div class="modal-c-tabs"> 
        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-2" role="tablist">
          <li class="nav-item">
            <a class="nav-link active text-light" data-toggle="tab" href="#panel7" role="tab">
              Spécialiste</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-light" data-toggle="tab" href="#panel9" role="tab">
                  Coach</a>
            </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content">
            <!-- start Specialiste -->
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
<img src="assets\img\2.png" class="img-fluid img-responsive" alt="ph">
            <!--Body-->
            <div class="modal-body mb-1">
              
              <div class="form-row mb-4">
                  <div class="col">
                      <!-- First name -->
                      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                  </div>
                  <div class="col">
                      <!-- Last name -->
                      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                  </div>
              </div>
<!-- Phone -->
<input type="number" id="defaultRegisterFormPhone" class="form-control mb-4" placeholder="Phone"> 
<!-- E-mail -->
<input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Email">    
<!-- Password -->
<input type="password" id="defaultRegisterFormPassword" class="form-control mb-4" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
<!-- confirmer password-->
<input type="password" id="defaultRegisterFormCPassword" class="form-control mb-4" placeholder="Comfirmer password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

           
             
              <div class="text-center my-3">
                  <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Valider</button>
                </div>
          </div>
            <!--Footer-->
          </div>
          <!--/.Panel 7-->
<!-- end Specialiste -->

          
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


</section>
    








  